/* *{
  border: 2px solid black;
} */

.content
{
  padding-top: 5%;
}

  .content .results li{
    display:inline;
    padding:0 0 0 10px;
    font-size:14px;
  }
  .content .results li a{
    text-decoration:none;
    font-size:14px;
  }
  .content .properties{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding:20px 200px 0 200px; */
  }
  .content .properties .map{
    height:200px;
    width:15%;
    border:2px solid black;
    border-radius:10px;
  }
  .content .properties .trip{
    width:70%;
    border:2px solid black;
    /* padding:0 0 0 10px; */
  }
  .content .properties .trip h4{
    font-weight:bold;
  }
  .content .properties .trip p{
    font-weight:bold;
  }
  .content .properties .trip .beaches{
    border-bottom:1px solid rgba(26,26,26,0.5);
    padding:0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .content .properties .trip .beaches li{
    display:inline;
    margin-right:20px;
  }
  .content .properties .trip .beaches li a{
    text-decoration:none;
    color:#000;
  }
  .content .properties .trip .beaches .active{
    border-bottom:3px solid #006ce4;
    padding:0 0px 10px 10px;
    
  }
  .content .properties .trip .beaches .active a{
    text-decoration:none;
    color:#006ce4;
  }
  @media(max-width:500px){
    .content .results{
      padding:220px 0 0 0px;
    }
    .content .properties{
      padding:20px 0px 0 0px;
    }
    .content .properties .map{
      width:100%;
      padding:0;
    }
    .content .properties .trip{
      width:100%;
      padding:0;
      margin-top:10px;
    }
    

    
  }
  .content .properties .trip .sliding{
    /* border:2px solid red; */
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    /* padding: 10px; */
  }
  .content .properties .trip .sliding .sliding1{
    width:30%;
    display:flex;
    /* flex-wrap: wrap; */
    border:1px solid rgba(26,26,26,0.5);
    padding:  10px 5px;
  }
  .content .properties .trip .sliding .sliding1 .write{
    padding:0 0 0 20px;
    font-size:14px;
  }
  @media(max-width:500px){
    .content .properties .trip .sliding .sliding1{
      width:100%;
    }
  }
  .content .properties .trip .hotels{
    display:flex;
    flex-wrap:wrap;
    border:2px solid;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
   
    
  }
  .content .properties .trip .hotels .hotel_photo{
    width:25%;
    /* border:2px solid; */
    padding:10px;
    position:relative;
   
  }

  
  .hotel1
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content .properties .trip .hotels .hotel_photo img{
    border-radius:10px;
  }
  .content .properties .trip .hotels .hotel_photo span{
    position:absolute;
    top:4%;
    right:8%;
    font-size:20px;
    color:white;
  }
  .content .properties .trip .hotels .hotel_details{
    width:50%;
  }
  .content .properties .trip .hotels .hotel_details .hotel_name{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .content .properties .trip .hotels .hotel_details .hotel_title{
    width:80%;
    /* border:2px solid; */
  }
  .content .properties .trip .hotels .hotel_details .hotel_title a{
    text-decoration:none;
    font-size:20px;
    color:#003b95;
    font-weight:bold;
  }
  .content .properties .trip .hotels .hotel_details .hotel_title span i{
    color:#ffb700;
  }
  .content .properties .trip .hotels .hotel_details .hotel_review{
    width:10%;
    /* border:2px solid; */
    font-size:14px;
    padding-top:5px;
  }
  .content .properties .trip .hotels .hotel_details .hotel_review span{
    font-weight:bold;
    padding: 0 0 0 10px;
  }
  .content .properties .trip .hotels .hotel_details .hotel_rating{
    width:8%;
    border:2px solid;
    text-align:center;
    background:#003b95;
    color:white;
    padding: 5px 0 5px 0;
  }
  .content .properties .trip .hotels .hotel_details .places_nearby{
    font-size:12px;
  }
  .content .properties .trip .hotels .hotel_details button{
    background:#008234;
    border:none;
    padding:3px;
    border-radius:5px;
    margin-top:10px;
  }
  .content .properties .trip .hotels .hotel_details button a{
    text-decoration:none;
    color:white;
  }
  .content .properties .trip .hotels .hotel_details .room_type{
    display:flex;
    /* flex-wrap:wrap; */
    margin-top:10px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_details{
    width:50%;
    /* border:2px solid red; */
    padding: 0 0 0 10px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_details p{
    margin: 0;
    padding: 0 0 0 10px;
    border-left:2px solid rgba(26,26,26,0.5);
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_details p:first-child{
    font-size:12px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_details p:nth-child(2){
    font-size:10px;
    font-weight: 500;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_details p:nth-child(3){
    color:#d4111e;
    font-size:12px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price{
    width:50%;
    /* border:2px solid red; */
    text-align:right;
    margin-right:10px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price p{
    margin: 0;
    padding: 0;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price p:first-child{
    font-size:12px;
    font-weight: 500;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price p:nth-child(2){
    font-size:20px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price p:nth-child(2) span{
    color:#d4111e;
    text-decoration: line-through;
    font-size:12px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price p:nth-child(3){
    font-size:12px;
    font-weight: 500;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price .available{
    background:#006ce4;
    padding:10px;
  }
  .content .properties .trip .hotels .hotel_details .room_type .room_price .available a{
    color:white;
  }
  @media(max-width:500px){
    
    .content .properties .trip .hotels .hotel_photo{
      width:100%;
    }
    .content .properties .trip .hotels .hotel_details{
      width:100%;
    }
    .content .properties .trip .hotels .hotel_details .room_type .room_details{
      width:100%;
    }
    .content .properties .trip .hotels .hotel_details .room_type .room_price{
      width:100%;
    }
  }